In [44]:
import pandas as pd
import os
import numpy as np
import chardet
import json
from bs4 import BeautifulSoup
from sklearn.linear_model import LogisticRegression
from category_encoders.target_encoder import TargetEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
import requests
dir = os.getcwd()

data_train1=dir+'/data/data_train_1/'
data_train2=dir+'/data/data_train_2/'
data_train3=dir+'/data/datasource6/'
test = dir+'/data/transformed_data/data_test/test/'
df_test = pd.read_csv('test_features.csv')

In [91]:
# Test Features Merging
'''dflist = []
for file in os.listdir(test):
    dflist.append(pd.read_excel(test+file,sheet_name=0).merge(pd.read_excel(test+file,sheet_name=1),on='id'))
test_merged = pd.concat(dflist)
test_merged.to_csv('test_features.csv')
'''

#df_test = pd.read_csv('test_features.csv')
'''apis = pd.read_csv('api_data.csv')
df_train = pd.read_csv('train_dataset_merged.csv')
df_train = df_train.replace('WEBSITE', np.nan)
df_train = df_train.set_index('id').combine_first(webdata.set_index('id'))
df_train = df_train.replace('API', np.nan)
df_train = df_train.combine_first(apis.set_index('id'))
'''
df_train = pd.read_csv('train_dataset_webdata_api.csv')
df_train = df_train.drop(['id',
                          'Unnamed: 0',
               'Unnamed: 0_x',
               'Unnamed: 0_y',
               'test strings (delete please)',
               'useless values (delete please)',
               'ldsa_team_wishes_you',
                          'countrycode',
                          'storeid',
                          'ddpsubcategory','country','designer','orderdate_gmt','orderportalid','productid','countryoforigin'
              ],axis=1)

In [92]:
# Data
# df_train['country']=pd.Categorical(df_train['country'])
# df_train['countryoforigin'] = pd.Categorical(df_train['countryoforigin'])

# One Hot
df_train['issale'] = np.where(df_train['issale']=='Yes',1,0)
df_train['isvip'] = np.where(df_train['isvip']=='Not VIP',0,1)

# Categorical
df_train['userfraudstatus'] = pd.Categorical(df_train['userfraudstatus'])
df_train['brand'] = pd.Categorical(df_train['brand'])
df_train['countryoforigin'] = pd.Categorical(df_train['countryoforigin'])

df_train

,brand,category_1stlevel,countryoforigin,ddprate,freereturn,hasitemsonbag,hasusedwishlist,isreseller,issale,isusingmultipledevices,...,region,returned,shipper,shiptypeid,size,style,tierafterorder,tierbeforeorder,userfraudstatus,userid
0,50.0,Bags,1.0,0.0000,1.0,No,Yes,No,0,No,...,3.0,0,2.0,2.0,17.0,4137.0,T4,NaN,3.0,2950.0
1,640.0,Clothing,6.0,0.0000,1.0,Yes,Yes,Yes,1,Yes,...,4.0,0,2.0,2.0,13.0,14472.0,VIP,VIP,6.0,36969.0
2,36.0,Shoes,1.0,5.0083,1.0,Yes,No,No,0,No,...,1.0,0,2.0,2.0,549.0,11696.0,T3,NaN,1.0,106588.0
3,279.0,Baby Boy Accessories,2.0,0.0000,1.0,Yes,Yes,No,1,No,...,2.0,0,2.0,2.0,138.0,34498.0,T2,T2,3.0,174306.0
4,17.0,Clothing,20.0,0.0000,1.0,No,Yes,No,1,Yes,...,3.0,0,2.0,2.0,135.0,66854.0,T4,NaN,3.0,87358.0
5,270.0,Jewellery,1.0,10.6755,1.0,No,Yes,No,0,No,...,4.0,0,2.0,2.0,17.0,85265.0,T2,T2,4.0,115742.0
6,87.0,Clothing,2.0,0.0000,1.0,Yes,Yes,Yes,0,Yes,...,3.0,0,2.0,2.0,27.0,1425.0,VIP,VIP,6.0,28808.0
7,60.0,Clothing,4.0,0.0000,1.0,Yes,Yes,No,0,No,...,4.0,0,4.0,2.0,14.0,130964.0,NaN,NaN,3.0,218845.0
8,388.0,Clothing,1.0,35.7236,1.0,Yes,No,No,1,No,...,4.0,0,2.0,2.0,181.0,50655.0,T4,NaN,3.0,54051.0
9,106.0,Clothing,2.0,46.0425,1.0,No,No,No,1,No,...,3.0,0,2.0,2.0,69.0,46208.0,T4,T4,4.0,15912.0
10,375.0,Clothing,2.0,22.0000,1.0,Yes,No,No,0,No,...,3.0,0,2.0,2.0,269.0,69667.0,VIP,VIP,3.0,1001.0
11,70.0,Clothing,10.0,0.0000,1.0,No,Yes,No,0,No,...,1.0,0,2.0,2.0,2.0,13711.0,T3,T4,4.0,89922.0
12,546.0,Shoes,1.0,0.0000,1.0,Yes,Yes,No,0,No,...,4.0,0,1.0,1.0,38.0,42861.0,T3,NaN,3.0,191254.0
13,286.0,Clothing,1.0,0.0000,1.0,Yes,Yes,No,1,No,...,1.0,0,1.0,1.0,201.0,71961.0,T2,T3,3.0,88584.0
14,25.0,Accessories,2.0,0.0000,1.0,No,No,No,1,No,...,1.0,0,2.0,2.0,6.0,84660.0,T4,NaN,3.0,173772.0
15,227.0,Clothing,1.0,0.0000,1.0,Yes,Yes,No,1,No,...,3.0,0,1.0,3.0,63.0,114480.0,T3,T4,4.0,175601.0
16,27.0,Clothing,20.0,5.0083,1.0,No,No,No,1,No,...,1.0,0,2.0,2.0,114.0,5854.0,T4,T4,3.0,121332.0
17,97.0,Shoes,4.0,0.0000,1.0,No,Yes,No,1,No,...,2.0,0,2.0,2.0,38.0,58384.0,T4,T4,3.0,175483.0
18,102.0,Accessories,29.0,0.0000,1.0,Yes,No,No,0,No,...,3.0,0,1.0,3.0,1.0,5781.0,T4,NaN,3.0,42028.0
19,23.0,Accessories,2.0,0.0000,1.0,No,Yes,No,1,No,...,3.0,0,1.0,3.0,17.0,8925.0,T4,NaN,3.0,98751.0
20,37.0,Clothing,2.0,5.0083,1.0,No,Yes,No,1,Yes,...,1.0,1,2.0,2.0,63.0,42437.0,T1,T1,6.0,11921.0
21,92.0,Shoes,20.0,12.0768,1.0,No,No,No,0,No,...,1.0,0,3.0,2.0,100.0,29638.0,NaN,NaN,3.0,86632.0
22,279.0,Baby Girl Clothing,2.0,0.0000,1.0,Yes,Yes,No,1,No,...,4.0,0,4.0,2.0,279.0,51625.0,T4,T4,3.0,69484.0
23,14.0,Homeware,1.0,0.0000,1.0,No,Yes,No,0,No,...,3.0,0,2.0,2.0,17.0,56716.0,T4,T4,3.0,83154.0
24,489.0,Shoes,3.0,0.0000,1.0,No,Yes,No,0,No,...,1.0,0,2.0,2.0,297.0,84237.0,T3,T4,3.0,111190.0
25,69.0,Shoes,20.0,0.0000,1.0,No,No,No,1,No,...,3.0,0,2.0,2.0,12.0,52368.0,T4,NaN,3.0,183682.0
26,39.0,Shoes,4.0,0.0000,1.0,Yes,Yes,No,1,Yes,...,3.0,0,2.0,9.0,156.0,15860.0,T2,T2,3.0,15977.0
27,219.0,Clothing,2.0,0.0000,1.0,Yes,Yes,No,1,Yes,...,3.0,0,2.0,2.0,19.0,20462.0,T1,T1,3.0,30909.0
28,195.0,Girls Clothing,63.0,0.0000,1.0,No,Yes,No,1,No,...,3.0,0,2.0,2.0,196.0,46813.0,T3,T4,3.0,49204.0
29,18.0,Shoes,8.0,0.0000,0.0,Yes,Yes,No,1,Yes,...,1.0,0,3.0,4.0,128.0,69245.0,T3,T4,3.0,84004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543311,459.0,Boys Clothing,2.0,26.3626,1.0,Yes,No,No,1,No,...,4.0,0,2.0,2.0,49.0,40579.0,T4,NaN,3.0,103777.0
543312,87.0,Shoes,1.0,0.0000,1.0,No,No,No,0,No,...,3.0,0,1.0,3.0,121.0,10253.0,T4,NaN,3.0,200298.0
543313,61.0,Clothing,4.0,0.0000,1.0,No,No,No,0,No,...,4.0,0,2.0,2.0,27.0,61770.0,T4,NaN,3.0,181116.0
543314,162.0,Clothing,10.0,33.3833,1.0,Yes,Yes,No,0,No,...,4.0,0,2.0,2.0,47.0,50205.0,VIP,VIP,6.0,20761.0
543315,11.0,Clothing,2.0,0.0000,1.0,Yes,Yes,No,1,Yes,...,3.0,0,2.0,2.0,3.0,7740.0,T3,T4,3.0,103182.0
543316,18.0,Shoes,8.0,0.0000,0.0,Yes,Yes,No,1,Yes,...,1.0,0,3.0,4.0,128.0,15984.0,T4,T4,4.0,13681.0
543317,155.0,Clothing,6.0,0.0000,1.0,No,No,No,1,Yes,...,1.0,0,2.0,2.0,43.0,859.0,T4,NaN,3.0,103423.0
543318,831.0,Bags,12.0,0.0000,1.0,No,Yes,No,1,No,...,3.0,0,2.0,2.0,17.0,10570.0,T4,T4,3.0,120692.0
543319,82.0,Clothing,1.0,0.0000,1.0,No,No,No,1,No,...,1.0,0,2.0,2.0,9.0,50727.0,T3,T3,3.0,54164.0
543320,565.0,Clothing,2.0,25.1925,1.0,No,Yes,No,1,No,...,4.0,0,2.0,2.0,114.0,57630.0,T3,T3,3.0,74967.0
543321,19.0,Clothing,1.0,5.0083,1.0,Yes,Yes,No,0,Yes,...,1.0,0,2.0,2.0,269.0,102442.0,T1,T1,3.0,58921.0
543322,4.0,Shoes,2.0,0.0000,1.0,No,No,No,1,No,...,2.0,1,2.0,2.0,26.0,96127.0,T4,NaN,4.0,78136.0
543323,20.0,Clothing,4.0,0.0000,1.0,No,No,No,1,No,...,1.0,0,2.0,2.0,6.0,18324.0,T2,T3,3.0,16080.0
543324,9.0,Accessories,8.0,0.0000,0.0,No,Yes,No,1,No,...,1.0,0,3.0,4.0,266.0,83557.0,T3,T3,3.0,109633.0
543325,11.0,Clothing,39.0,5.8485,1.0,Yes,Yes,No,1,Yes,...,4.0,0,2.0,2.0,264.0,18446.0,VIP,VIP,6.0,16216.0
543326,37.0,Shoes,1.0,0.0000,1.0,Yes,Yes,Yes,0,Yes,...,4.0,0,5.0,2.0,91.0,66293.0,VIP,VIP,6.0,6226.0
543327,787.0,Clothing,14.0,47.7531,1.0,Yes,No,No,0,No,...,3.0,0,2.0,2.0,56.0,106388.0,T4,T4,3.0,158564.0
543328,232.0,Clothing,2.0,19.4557,1.0,No,Yes,No,0,No,...,4.0,0,2.0,2.0,109.0,56454.0,T4,T4,4.0,188514.0
543329,219.0,Bags,2.0,0.0000,1.0,Yes,Yes,No,0,Yes,...,3.0,0,2.0,2.0,17.0,1186.0,T2,T2,3.0,41201.0
543330,488.0,Clothing,1.0,0.0000,1.0,Yes,Yes,No,1,Yes,...,3.0,0,2.0,2.0,43.0,4929.0,T4,T4,3.0,36360.0
543331,25.0,Clothing,2.0,0.0000,0.0,Yes,Yes,No,1,No,...,1.0,0,2.0,2.0,2.0,44847.0,T4,T4,4.0,128893.0
543332,176.0,Clothing,12.0,0.0000,1.0,No,No,No,0,No,...,3.0,0,1.0,3.0,2.0,16545.0,T4,T4,3.0,113715.0
543333,452.0,Clothing,1.0,5.0083,1.0,No,Yes,No,1,Yes,...,1.0,0,2.0,2.0,9.0,53134.0,T2,T3,3.0,115368.0
543334,120.0,Girls Accessories,1.0,0.0000,1.0,Yes,Yes,No,0,No,...,2.0,0,2.0,2.0,564.0,13366.0,VIP,VIP,6.0,119607.0
543335,39.0,Shoes,4.0,0.0000,1.0,No,No,No,0,No,...,3.0,0,2.0,2.0,262.0,53263.0,T4,NaN,3.0,205239.0
543336,227.0,Clothing,2.0,0.0000,1.0,No,Yes,No,0,No,...,3.0,0,1.0,3.0,9.0,67300.0,T3,T3,3.0,80812.0
543337,701.0,Shoes,4.0,0.0000,1.0,Yes,No,No,1,No,...,4.0,0,2.0,2.0,12.0,50535.0,T4,NaN,3.0,103236.0
543338,75.0,Clothing,4.0,5.0083,1.0,No,Yes,No,1,Yes,...,1.0,0,2.0,2.0,55.0,17260.0,T4,NaN,4.0,158960.0
543339,50.0,Clothing,1.0,0.0000,1.0,Yes,Yes,No,1,No,...,4.0,0,2.0,2.0,19.0,38680.0,T2,NaN,3.0,46215.0
543340,58.0,Jewellery,14.0,0.0000,1.0,Yes,Yes,No,1,Yes,...,4.0,0,2.0,2.0,17.0,23206.0,T1,T1,3.0,21588.0

In [16]:
'''# CSVs from datasource_6

csvlist = []
for file in os.listdir(data_train3):
    if('.csv' in file):
        csvlist.append(pd.read_csv(data_train3+file,engine='python'))
csvlist = pd.concat(csvlist)
csvlist.to_csv('csvlist.csv')


csvlist = pd.read_csv('csvlist.csv')

# 1st Folder
a = pd.read_csv(data_train1+'datasource1.csv', encoding='latin1')
b = pd.read_csv(data_train1+'datasource3.csv', encoding='latin1',sep='|')
c = pd.read_json(data_train1+'datasource2.json', orient='split').reset_index()
c.columns=['id','shipper', 'productid', 'isreseller', 'issale', 'category_1stlevel']

# 2nd Folder
d = pd.read_json(data_train2+'datasource5.csv').reset_index()
d = d.rename(columns={"index": "id"})
e = pd.read_csv(data_train2+'datasource7.csv')
# .html
html = pd.read_csv(data_train2+'datasource4.csv')

# WebData
webdata = pd.read_csv(data_train1+'web_data.csv')

# Targets
targets = pd.read_csv('sql_output_targets.csv')[['id','returned']]

# Train Data Set
df_train = a.merge(c,on='id').merge(b,on='id').merge(d,on='id').merge(e,on='id').merge(html,on='id').merge(csvlist,on='id').merge(targets,on='id')

'''

'# CSVs from datasource_6\n\ncsvlist = []\nfor file in os.listdir(data_train3):\n    if(\'.csv\' in file):\n        csvlist.append(pd.read_csv(data_train3+file,engine=\'python\'))\ncsvlist = pd.concat(csvlist)\ncsvlist.to_csv(\'csvlist.csv\')\n\n\ncsvlist = pd.read_csv(\'csvlist.csv\')\n\n# 1st Folder\na = pd.read_csv(data_train1+\'datasource1.csv\', encoding=\'latin1\')\nb = pd.read_csv(data_train1+\'datasource3.csv\', encoding=\'latin1\',sep=\'|\')\nc = pd.read_json(data_train1+\'datasource2.json\', orient=\'split\').reset_index()\nc.columns=[\'id\',\'shipper\', \'productid\', \'isreseller\', \'issale\', \'category_1stlevel\']\n\n# 2nd Folder\nd = pd.read_json(data_train2+\'datasource5.csv\').reset_index()\nd = d.rename(columns={"index": "id"})\ne = pd.read_csv(data_train2+\'datasource7.csv\')\n# .html\nhtml = pd.read_csv(data_train2+\'datasource4.csv\')\n\n# WebData\nwebdata = pd.read_csv(data_train1+\'web_data.csv\')\n\n# Targets\ntargets = pd.read_csv(\'sql_output_targets.csv\')[[\'id\',\'returned\']]\n\n# Train Data Set\ndf_train = a.merge(c,on=\'id\').merge(b,on=\'id\').merge(d,on=\'id\').merge(e,on=\'id\').merge(html,on=\'id\').merge(csvlist,on=\'id\').merge(targets,on=\'id\')\n\n'

In [ ]:
# Counter

# Features

In [ ]:
# Category 1st Level
df_train['category_1stlevel'].value_counts().head(10)

In [ ]:
# Brand
df_train['brand'].value_counts().head(10)

In [ ]:
# Country vs Country Code
# Removed Country Code, kept Country
df_train['country'].value_counts().head(10)

In [ ]:
#df_train[['brand','returned']].groupby('brand').agg({'returned':[np.sum, 'count']})

In [127]:
# Target Encoder
df_baseline = df_train.copy(deep=True)

x_baseline = df_baseline.loc[:,['freereturn','userfraudstatus','brand','countryoforigin','category_1stlevel']]
y_baseline = df_baseline.loc[:,'returned']

# TTSplit
X_train, X_test, y_train, y_test = train_test_split(x_baseline,y_baseline, test_size = 0.33, random_state = 42 )

te = TargetEncoder(min_samples_leaf = 100)
te.fit(X_train,y_train)

TargetEncoder(cols=['userfraudstatus', 'brand', 'countryoforigin',
                    'category_1stlevel'],
              drop_invariant=False, handle_missing='value',
              handle_unknown='value', min_samples_leaf=100, return_df=True,
              smoothing=1.0, verbose=0)

# Logistic Regression

In [128]:
# Baseline
lr = LogisticRegression(random_state = 42)
lr.fit(te.transform(X_train),y_train)
lr.predict_proba(te.transform(X_test).fillna(0))
roc_auc_score(y_test,lr.predict_proba(te.transform(X_test).fillna(0))[:,1])

/Users/cc/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.6277054667102329

# Gradient Boosting Classifier

In [129]:
gbc = GradientBoostingClassifier(random_state = 42)
gbc.fit(te.transform(X_train),y_train)
roc_auc_score(y_test,gbc.predict_proba(te.transform(X_test).fillna(0))[:,1])

0.6352025227618467

In [130]:
importance = pd.DataFrame({'features': X_train.columns,
                           'importance': gbc.feature_importances_
                          }).sort_values(by = 'importance', ascending=False)
importance

            features  importance
2              brand    0.616591
4  category_1stlevel    0.196611
1    userfraudstatus    0.091049
3    countryoforigin    0.072122
0         freereturn    0.023627

In [20]:
df_test[['id','freereturn','userfraudstatus']]
ids = df_test[['id']]

In [22]:
features = df_test[['freereturn','userfraudstatus']]

In [34]:
lr.predict_proba(te.transform(features))[:,1]

array([0.05865343, 0.05863444, 0.05863444, ..., 0.05865763, 0.05865763,
       0.05865763])

In [36]:
submission = df_test[['id']]
submission['returned']=lr.predict_proba(te.transform(features))[:,1]
submission.to_csv('SUBMISSION_01.csv',index=False)

/Users/cc/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy